<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <connectionStrings>
    <add name="JSLDB" connectionString="Server=(DESCRIPTION =
    (ADDRESS_LIST =
    (ADDRESS = (PROTOCOL = TCP)(HOST =192.168.20.33)(PORT = 1521))
    )
    (CONNECT_DATA =
    (SERVICE_NAME = L3CASTER)
    )
    );User ID=sms_x_com;Password=x_com;Min Pool Size=0;Max Pool Size=300;Connection Lifetime=15" providerName="System.Data.OracleClient" />
    <add name="JSLDB_CASTER" connectionString="Server=(DESCRIPTION =
    (ADDRESS_LIST =
    (ADDRESS = (PROTOCOL = TCP)(HOST =192.168.20.33)(PORT = 1521))
    )
    (CONNECT_DATA =
    (SERVICE_NAME = L3CASTER)
    )
    );User ID=x_com;Password=x_com;Min Pool Size=0;Max Pool Size=300;Connection Lifetime=15" providerName="System.Data.OracleClient" />
    <add name="JSLDB_CRM" connectionString="Server=(DESCRIPTION =
    (ADDRESS_LIST =
    (ADDRESS = (PROTOCOL = TCP)(HOST =172.16.4.249)(PORT = 1521))
    )
    (CONNECT_DATA =
    (SERVICE_NAME = ORACLE)
    )
    );User ID=crm;Password=crm123;Min Pool Size=0;Max Pool Size=300;Connection Lifetime=15" providerName="System.Data.OracleClient" />


    <add name="JSLDB_HSM" connectionString="Server=(DESCRIPTION =
    (ADDRESS_LIST =
    (ADDRESS = (PROTOCOL = TCP)(HOST =10.80.5.1)(PORT = 1521))
    )
    (CONNECT_DATA =
    (SERVICE_NAME = PRDB)
    )
    );User ID=VEGAM_SERVICE;Password=pass123;Min Pool Size=0;Max Pool Size=300;Connection Lifetime=15" providerName="System.Data.OracleClient" />


    <add name="VegamDb" connectionString="Server=(DESCRIPTION =
    (ADDRESS_LIST =
    (ADDRESS = (PROTOCOL = TCP)(HOST =10.30.21.24)(PORT = 1521))
    )
    (CONNECT_DATA =
    (SERVICE_NAME = PDJSLTEST)
    )
    );User ID=JSLADMIN;Password=Aureole12;Min Pool Size=0;Max Pool Size=300;Connection Lifetime=15" providerName="System.Data.OracleClient" />
  </connectionStrings>
  <appSettings>
    <add key="ScheduleInterval" value="5000"/>
    <add key="MongoDbConnectionString" value="mongodb://10.30.20.51:27017" />
    <add key="TimerMaxNumberOfRetries" value="3"/>
    <add key="NumberOfMinutesBlockOfData" value="15"/>
    <add key ="MongoDbDataBaseName" value="JSLTestMongoDB"/>
    <add key ="JsonFilePath" value="E:\Vishu\Timepass Projects\QueryScheduler\BCG_Export\BCG_Export\BCG_Export\json1.json"/>
  </appSettings>
  <log4net threshold="ON">
    <root>
      <level value="ALL"/>
      <!-- ALL,ERROR,INFO,DEBUG-->
      <appender-ref ref="RollingFileAppender"/>
    </root>
    <appender name="MyAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %logger - %message%newline"/>
      </layout>
    </appender>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\QuerySchedulerLogs\BCG_LOGS"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="5"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline"/>
      </layout>
    </appender>
  </log4net>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>