<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <connectionStrings>
    <add name="JSLHSML2DBConection" connectionString="Server=(DESCRIPTION =
    (ADDRESS_LIST =
    (ADDRESS = (PROTOCOL = TCP)(HOST =localhost)(PORT = 1521))
    )
    (CONNECT_DATA =
    (SERVICE_NAME = sushintestdb)
    )
    );User ID=hsmuser;Password=pass123;Min Pool Size=0;Max Pool Size=300;Connection Lifetime=15" providerName="System.Data.OracleClient" />

    <!--<add name="JSLHSML2DBConection" connectionString="Server=(DESCRIPTION =
    (ADDRESS_LIST =
    (ADDRESS = (PROTOCOL = TCP)(HOST =10.80.5.1)(PORT = 1521))
    )
    (CONNECT_DATA =
    (SERVICE_NAME = prdb)
    )
    );User ID=VEGAM_SERVICE;Password=pass123;Min Pool Size=0;Max Pool Size=300;Connection Lifetime=15" providerName="System.Data.OracleClient" />-->

    <add name="VegamMIIDBConnection" connectionString="Server=(DESCRIPTION =
    (ADDRESS_LIST =
    (ADDRESS = (PROTOCOL = TCP)(HOST =localhost)(PORT = 1521))
    )
    (CONNECT_DATA =
    (SERVICE_NAME = sushinproddb)
    )
    );User ID=JSLMIIADMIN;Password=Aureole12;Min Pool Size=0;Max Pool Size=300;Connection Lifetime=15" providerName="System.Data.OracleClient" />
  </connectionStrings>
  <appSettings>
    <add key="TableCopyTimerInterval" value="60000"/>
    <add key="TableCopyTimerCounter" value="10"/>
    <add key="MongoDbConnectionString" value="mongodb://localhost:27017" />
    <add key ="MongoDbDataBaseName" value="TableCopyTestDB"/>
    <add key ="MongoDbCollectionName" value="TableCopierConfigCollection"/>
  </appSettings>
  <log4net>
    <root>
      <level value="ALL"/>
       ALL,ERROR,INFO,DEBUG
      <appender-ref ref="RollingFileAppender"/>
    </root>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="D:\MES\DBTableCopierServiceLogs\LogFile.log"/>
      <!--<file value="C:\Users\Public\Documents\Downloads\hy\NJ.LOG"/>-->
      <!--<file value="NJ.LOG"/>-->
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="5"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline"/>
      </layout>
    </appender>
    <!--<logger name="RollingFileLogger" additivity="false">
      <level value="ALL"/>
      <appender-ref ref="RollingFileAppender"/>
    </logger>-->
  </log4net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>